* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: black;
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

#canvas-container {
  position: relative;
}

.c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#text-over-canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

#center-div {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  box-shadow: 0px 0px 500px rgb(0, 0, 0);
}

.main-text {
  font-size: 96px;
  margin: 0 10px;
  max-width: 800px;
  font-weight: 200;
  text-shadow: 2px 2px 10px green;
}

#wrapper {
  text-align: center;
}

.hide {
  display: none;
}

.sub {
  color: #ff4a54;
  letter-spacing: 1em;
}

.glitch {
  margin: 0 10px;
  display: inline;
  position: relative;
  color: #fff;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 0.1em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 rgba(0, 223, 19, 0.3137254902);
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 rgba(0, 223, 19, 0.3137254902), 2px 2px rgba(0, 223, 19, 0.3137254902);
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(53px, 9999px, 56px, 0);
    transform: skew(0.07deg);
  }
  5% {
    clip: rect(96px, 9999px, 67px, 0);
    transform: skew(0.97deg);
  }
  10% {
    clip: rect(56px, 9999px, 45px, 0);
    transform: skew(0.41deg);
  }
  15% {
    clip: rect(75px, 9999px, 66px, 0);
    transform: skew(0.35deg);
  }
  20% {
    clip: rect(55px, 9999px, 63px, 0);
    transform: skew(0.97deg);
  }
  25% {
    clip: rect(22px, 9999px, 47px, 0);
    transform: skew(0.7deg);
  }
  30% {
    clip: rect(65px, 9999px, 29px, 0);
    transform: skew(0.4deg);
  }
  35% {
    clip: rect(42px, 9999px, 30px, 0);
    transform: skew(0.2deg);
  }
  40% {
    clip: rect(100px, 9999px, 31px, 0);
    transform: skew(0.15deg);
  }
  45% {
    clip: rect(88px, 9999px, 12px, 0);
    transform: skew(0.31deg);
  }
  50% {
    clip: rect(23px, 9999px, 86px, 0);
    transform: skew(0.01deg);
  }
  55% {
    clip: rect(83px, 9999px, 73px, 0);
    transform: skew(0.14deg);
  }
  60% {
    clip: rect(90px, 9999px, 31px, 0);
    transform: skew(0.9deg);
  }
  65% {
    clip: rect(74px, 9999px, 8px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(90px, 9999px, 30px, 0);
    transform: skew(0.73deg);
  }
  75% {
    clip: rect(75px, 9999px, 98px, 0);
    transform: skew(0.59deg);
  }
  80% {
    clip: rect(36px, 9999px, 35px, 0);
    transform: skew(0.13deg);
  }
  85% {
    clip: rect(28px, 9999px, 40px, 0);
    transform: skew(0.07deg);
  }
  90% {
    clip: rect(43px, 9999px, 75px, 0);
    transform: skew(0.53deg);
  }
  95% {
    clip: rect(11px, 9999px, 38px, 0);
    transform: skew(0.61deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(20px, 9999px, 78px, 0);
    transform: skew(0.55deg);
  }
  5% {
    clip: rect(2px, 9999px, 77px, 0);
    transform: skew(0.2deg);
  }
  10% {
    clip: rect(65px, 9999px, 4px, 0);
    transform: skew(0.22deg);
  }
  15% {
    clip: rect(71px, 9999px, 56px, 0);
    transform: skew(0.95deg);
  }
  20% {
    clip: rect(19px, 9999px, 53px, 0);
    transform: skew(0.13deg);
  }
  25% {
    clip: rect(44px, 9999px, 10px, 0);
    transform: skew(0.46deg);
  }
  30% {
    clip: rect(33px, 9999px, 85px, 0);
    transform: skew(0.59deg);
  }
  35% {
    clip: rect(75px, 9999px, 69px, 0);
    transform: skew(0.32deg);
  }
  40% {
    clip: rect(57px, 9999px, 54px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(77px, 9999px, 44px, 0);
    transform: skew(0.25deg);
  }
  50% {
    clip: rect(4px, 9999px, 84px, 0);
    transform: skew(0.05deg);
  }
  55% {
    clip: rect(55px, 9999px, 33px, 0);
    transform: skew(0.51deg);
  }
  60% {
    clip: rect(30px, 9999px, 40px, 0);
    transform: skew(0.19deg);
  }
  65% {
    clip: rect(29px, 9999px, 45px, 0);
    transform: skew(0.57deg);
  }
  70% {
    clip: rect(83px, 9999px, 39px, 0);
    transform: skew(0.52deg);
  }
  75% {
    clip: rect(67px, 9999px, 1px, 0);
    transform: skew(0.05deg);
  }
  80% {
    clip: rect(20px, 9999px, 45px, 0);
    transform: skew(0.59deg);
  }
  85% {
    clip: rect(71px, 9999px, 84px, 0);
    transform: skew(0.95deg);
  }
  90% {
    clip: rect(87px, 9999px, 17px, 0);
    transform: skew(0.58deg);
  }
  95% {
    clip: rect(21px, 9999px, 84px, 0);
    transform: skew(0.23deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(2deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-1deg);
  }
}
.nav-bar {
  position: absolute;
  padding: 10px 25px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-height: 6vh;
  z-index: 2;
}

.logo {
  height: 6vh;
}

.logo > img {
  height: 6vh;
}

.menu-link {
  height: 6vh;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.menu-link:visited {
  color: white;
}

.menu-link:hover {
  cursor: pointer;
  color: yellow;
}

.first-page {
  background-color: black;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.center-div1 {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header {
  max-width: 80vw;
  color: white;
  font-size: 64px;
  font-weight: 200;
}

.fill {
  height: 100vh;
}

.data-container {
  display: flex;
  margin-top: 40px;
  width: 80vw;
  width: 100;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.codingImage-container {
  margin: 0 -15% 0 -15%;
}

.stats-container {
  display: flex;
  gap: 40px 10%;
  max-width: 40vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-container {
  display: flex;
  transition: all 300ms ease-out;
}
.box-container:hover {
  transition: all 300ms ease-in;
  transform: scale(1.2);
  border-radius: 10px;
}

.box-border {
  padding: 1rem;
  background: linear-gradient(100deg #ff6600 90%, rgba(255, 255, 255, 0.1) 90%);
  background: linear-gradient(135deg, #ff6600 40%, rgba(255, 255, 255, 0) 45%);
  padding: 2px;
}

.box {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 10px;
  width: 200px;
  color: white;
  text-align: start;
}

.box > h2 {
  font-weight: 200;
  font-size: 36px;
}

.box > h3 {
  font-size: 16px;
  font-weight: 300;
}

.box > img {
  width: 40%;
  padding: 3px 0 10px 0;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.ag-timeline-block {
  padding: 100px 0;
}

.ag-timeline_title-box {
  padding: 0 0 60px;
  text-align: center;
}

.ag-timeline_tagline {
  font-size: 72px;
  font-weight: 300;
  color: #fff;
}

.ag-timeline_title {
  color: white;
  font-size: 36px;
  font-weight: 200;
}

.ag-timeline_item {
  margin: 0 0 50px;
  position: relative;
}

.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.ag-timeline_line {
  width: 2px;
  background-color: #393935;
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #ff6600;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}

.ag-timeline-card_point {
  height: 50px;
  width: 50px;
  border: 3px solid #ff6600;
  background-color: #000;
  background-image: radial-gradient(circle at center, #ff6600 75%, black 75%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transition: background-size 0.2s, color 0.2s;
  border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
  background-size: 100% 100%;
}

.ag-timeline-card_meta-box {
  display: inline-block;
}

.ag-timeline-card_meta {
  margin: 10px 0 0;
  font-family: "ESL Legend", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #ff6600;
}

.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #121212;
  opacity: 0;
  border-radius: 6px;
  box-shadow: 5px 5px #ff6600;
  transition: transform 0.5s, opacity 0.5s;
  position: relative;
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;
  transform: translateX(0);
}

.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #121212;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: -9px;
  margin-right: -9px;
  box-shadow: 3px -3px #ff6600;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}

.ag-timeline-card_info {
  padding: 0 30px 20px;
}

.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;
  font-family: "ESL Legend", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #ff6600;
}

.ag-timeline-card_desc {
  line-height: 1.45;
  text-align: left;
  font-size: 16px;
  color: #FFF;
}

@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }
  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }
  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px;
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }
  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}
@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}
.ag-timeline-card_img-box {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.ag-timeline-card_img {
  max-height: 150px;
}

.spacing {
  margin: 25px 20px;
  max-width: 1000px;
}

.strong {
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  font-size: 52px;
}

.strong:hover {
  color: yellow;
  cursor: pointer;
}

.shorter {
  margin: 10vh 0;
  height: 50vh;
}/*# sourceMappingURL=styles.css.map */